.reset-password-container {
    width: 80%;
    height: auto;
  }
  
  .reset-password-container .reset-container {
    margin-top: 24px;
    
  }
  
  .reset-password-container .reset-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .reset-password-container .reset-container form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 24px;
  }
  
  .reset-password-container .reset-container .label {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .reset-password-container .reset-container .label span {
    font-weight: bold; 
    margin-bottom: 5px;
    margin-right: 10px;
    width: 120px;
  }
  
  .reset-password-container .reset-container .label input {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-left: 10px;
    flex: 1;
  }
  
  .reset-password-container .reset-container .container-btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .reset-password-container .reset-container button {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 24px auto;
  }
  
  .reset-password-container .reset-container button:hover {
    background-color: #0056b3;
  }
  
  .reset-password-container .reset-container p {
    margin-top: 10px;
    font-size: 16px;
    color: red;
    text-align: center;
    font-weight: 600;
  }
  
  .reset-password-container .reset-container p.success  {
    margin-top: 10px;
    font-size: 16px;
    color: green;
    text-align: center;
    font-weight: 600;
  }
  
  